/*hex codes:
#FDF8E8 -WHITEBROWN
#FF3131-TOMATO
#00BF63-gREEN*/

body {
    background-color: #FDF8E8;
    font-family:Baskerville, Baskerville Old Face, Garamond, Times New Roman, serif;
    
    
}
.navbar {
    background-color: #FDF8E8;
    font-size: 26px;
}

.landingpic {
    display: flex;
    justify-content: space-between;
    margin-top: -12%;
}
.pasta_landing{
    width: 90%; 
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.pastaname {
    display:flex;
    color: #00BF63;
    margin-left:23%;
}
intro {
    margin: auto;
}

.logo_landing {
    width: 60%;
    margin-left: 20%;
}



.about_section {
    margin-top: 10%;
    background-color: #00BF63;
    height: 1300px;
    
}
.origin {
    margin-top: 10%;
}

.pastaorigin {
    
    
}

.pastaorigin img {
    width: 54%;
    border-radius: 6%;
    margin-left:30%;
    margin-bottom:300%;
}

.about {
    padding: 40px;
    text-align: center;
    border-radius: 6%;
    height: 90%;
    width: 80%;
    
}

.about p {
    padding-top: 22px;
    font-size: 144%;
   
}

.origins {
    margin-top: 10%;
}

